/* style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #00008B, #8A2BE2); /* Match the provided image gradient */
    color: #fff;
}

header {
    background: linear-gradient(135deg, #00008B, #8A2BE2);
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    display: flex;
    align-items: center;
}

header nav ul li a:hover {
    color: #8a2be2;
}

header nav ul li img {
    width: 24px;
    margin-right: 0.5rem;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}

.feature {
    background: #444;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature h3 {
    margin-top: 0;
    color: #fff;
}

/* Footer styles */
footer {
    background: linear-gradient(135deg, #00008B, #8A2BE2);
    padding: 1rem;
    text-align: center;
    color: white;
}

/* General button styles */
button {
    border-radius: 8px;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s;
}

/* Button hover effect */
button:hover {
    background: #8a2be2;
    color: white;
}
